<!DOCTYPE html>

		<head>
			<!-- added characgter set to use things like £ -->
			<meta charset="utf-8" />

			<!-- make it responsive -->

			<meta name="viewport" content="width=device-width, initial-scale=1" />

			<!-- titles for google/SEO -->

			<title>energy snipper - Helping you reduce your electricity bills.</title>
			<meta name="description" content="energy snipper - helping you to buy and run the most cost effective home appliances" />
			<meta name="verification" content="2454a2a83be7b17a6dfd3c835a419480" />

			<link rel="shortcut icon" href="/favicon.ico" />

			<!-- stylesheets link reset and then my styles -->
			<!-- <link rel="stylesheet" href="/app/assets/stylesheets/reset.css.scss" /> -->
			<!-- <link rel="stylesheet" href="/app/assets/stylesheets/index.css.scss" /> -->

			<!-- javascripts 
			// <script src="/app/assets/stylesheets/javascripts/jquery.js"></script>
			// <script src="/app/assets/stylesheets/javascripts/energysnipper.js"></script> -->

		</head>

		<body>

			<header>
				<div class="container">

					<h1>
						<a href="index.html">
							<img src="images/home.jpg" alt="energy snipper logo" />
							<h1>energy snipper</h1>
						</a>
					</h1>

					<a href="#" id="showmenu">Show menu</a>

					<nav>
						<a href="index.html" class="slide">About</a>
						<a href="#factsheet" class="slide">Facts</a>
						<a href="#signup" class="slide">Sign Up</a>
						<a href="posts#index">Blog</a>
					  <a href="http://www.twitter.com/energysnipper">Twitter</a>	
					  <a href="http://www.facebook.com/energysnipper">Facebook</a>
					</nav>
				</div>
				</header>

			<section id="about">
				<div class="container">
					
					<article>

							<h2>Buy efficient - save £484* a year on electricity.</h2>

							<h3>Energy Snipper is a new service - launching soon - to help you pinpoint the most cost effective home electricals.</h3>

							<h3>To find out more <a href="#signup">Sign Up</a> below</h3>

					</article>	

				</div>
			</section>

			<section id="factsheet">
							<div class="container">	

							<h5>5 things you need to know about your electricity bill</h5>				
							<table id="facts">
						<thead>
							<tr>
								<th><img src="images/washing.svg" alt="Washing" /></th>
								<td>Are you one of the 7/10 people who didn't look at running costs before buying your appliances?</td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<th><img src="images/cooling.svg" alt="Cooling" /></th>
								<td>Lifetime electricity costs for appliances can be 5x* higher than purchase price.</td>
							</tr>
								<tr>
								<th><img src="images/cooking.svg" alt="Cooking" /></th>
								<td>Switching to energy efficient electricals could save you more than £5,000* in home electricity bills.</td>
							</tr>
								<tr>
								<th><img src="images/gadgets.svg" alt="Electronics" /></th>
								<td>That's a saving of £484* every single year.</td>
							</tr>
								<tr>
								<th><img src="images/office.svg" alt="Office" /></th>
								<td>UK household energy bills have risen 70% since 2004; UBS expects them to rise another 46% in nominal terms by 2020.</td>
							</tr>
						</tbody>
					</table>

							</div>
							</section>

			<section id="signup">
				<div class="container">
					<h4>To find out more sign up below to receive our free factsheet:</h4>

					<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://northwindconsulting.us7.list-manage.com/subscribe/post?u=70b9a1b51f8ed976368eaf86a&amp;id=e338ac1a7f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
</label>
	<input type="email" value="" name="EMAIL" placeholder="*email address" class="required email" id="mce-EMAIL">
	<div id="mce-responses"> 
	<div class="response" id="mce-error-response" style="display:none"></div> 
	 <div class="response" id="mce-success-response" style="display:none"></div> 
	<input type="submit" value="Find out more" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>


<!--End mc_embed_signup-->

				</div>
			</section>

			<section id="disclaimer">

				<div>

			<p>
				* This is based on a comparison of the exact running costs between a standard A rated appliance and the most efficient A+++ rated appliance in the following product categories: washing machine, tumble dryer, dishwasher, fridge freezer, chest freezer, electric oven, plasma TV, LCD TV, games console, printer, desktop, laptop, monitor.  Details of the exact products used are available on our factsheet</p><br>

				<p>The running costs have been calculated using an electricity price of 15.45 pence per kwh. This figure has been calculated using Which 'Consumer focus' data. The 'medium consumption' is based on what people are paying to the Big Six energy providers, on the standard tariff, across the different regions of the country and is then averaged out.</p>

			</div>

			</section>


			<footer>
					(c) Northwind Marketing Ltd 2013
			</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45499483-1', 'energysnipper.com');
  ga('send', 'pageview');

</script>

		</body>

</html>
